.navbar {
  padding: 4% 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  position: relative;
}

.navbar__logo {
  padding-right: 5%;
}

.navbar__left {
  display: flex;
  width: 15%;

}

.navbar__menu {
  display: flex;
  list-style: none;
}

.navbar__right {
  width: 85%;
  display: flex;
  justify-content: space-between;
}

.menu__item a {
  padding: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--grayish-violet);
  font-size: 0.8rem;
}

.menu__item a:hover {
  color: var(--very-dark-violet);
}

.navbar__login {
  display: flex;
  list-style: none;
}

.button__navbar a:hover {
  background-color: #9BE3E2;
}

.button__navbar a {
  padding: 10px 25px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 30px;
  background: var(--color-cyan);
  color: #fff;
  margin: 0 10px;
  font-size: 0.8rem;
}

.button__navbar__login a {
  padding: 10px 25px;
  font-weight: 700;
  text-decoration: none;
  color: var(--grayish-violet);
  border-radius: 30px;
  margin: 0 10px;
  font-size: 0.8rem;
}

.section__home {
  background: #fff;
  padding-bottom: 10%;
}

.container {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;

  display: flex;
  flex-wrap: wrap;
}

.col__left,
.col__right {
  width: 50%;
}

.col__right span {
  overflow: inherit !important;
}

.col__right img {
  transform: translateX(25%);
}

.left__title {
  font-size: 4rem;
  line-height: 4.5rem;
  font-weight: 700;
  color: var(--very-dark-blue);
}

.button__menu {
  display: none;
}

.left__content {
  color: var(--grayish-violet);
  margin-bottom: 1.8rem;
}

.button__cta {
  padding: 15px 35px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 30px;
  background: var(--color-cyan);
  color: #fff;
  border: none;
  cursor: pointer;
}

.button__cta:hover {
  background-color: #9BE3E2;
}

.section__name {
  text-align: center;
  width: 100%;
}

.statistics {
  padding: 5%;
}

.section__name h3 {
  font-size: 2.5rem;
  color: var(--very-dark-violet);
  margin-bottom: 10px;
}

.section__name p {
  width: 45%;
  color: var(--grayish-violet);
  margin: auto;
}

.section__services {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10% 0;
}

.cardgroup {
  width: 420px;
  height: 290px;
  background: #fff;
  border-radius: 5px;
  padding: 30px;
  position: relative;
}

.cardgroup__title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--very-dark-blue);
}

.cardgroup__image {
  width: 90px;
  height: 90px;
  background: var(--dark-violet);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -75px;
  margin-left: 0;
  margin-bottom: 1.5rem;
}

.cardgroup__content {
  color: var(--grayish-violet);
}

.brand {
  transform: translateY(-20%);
}

.fully {
  transform: translateY(20%);
}

.detailed::before {
  content: "";
  width: 60px;
  height: 10px;
  background: var(--color-cyan);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -10%;
  z-index: -1;
}

.detailed::after {
  content: "";
  width: 60px;
  height: 10px;
  background: var(--color-cyan);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -10%;
  z-index: -1;
}

.section__footer {
  width: 100%;
  text-align: center;
  background: var(--dark-violet);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4% 2%;
  background-image: url(../public/assets/images/bg-boost-desktop.svg);
  color: #fff;
}

.section__footer h3 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 10rem;
  background-color: var(--very-dark-violet);
}

.footer__left {
  width: 33%;
}

.footer__center {
  width: 41%;
  display: flex;

}

.footer__menu {
  width: calc(100% / 3);
  list-style: none;
}

.footer__menu li:nth-child(1) {
  margin-bottom: 1rem;
}

.footer__menu li:nth-child(1) a {
  color: #fff;
  font-weight: 600;
}

.menu__item {
  margin-bottom: 0.3rem;
}

.menu__item a {
  font-weight: normal;
  font-size: 0.9rem;
}

.menu__item a:hover {
  color: var(--color-cyan);
}

.footer__right {
  width: 25%;
}

.footer__social {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  column-gap: 1.5rem;
}

.social__item:hover svg path {
  fill: var(--color-cyan);
}

.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(0 0 0 / 64%);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 375px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .navbar {
    padding: 4%;
  }

  .navbar__left {
    width: 100%;
    justify-content: space-between;
  }

  .navbar__right {
    position: absolute;
    z-index: 9;
    width: calc(100% - 8%);
    top: 64px;
    padding: 3rem 20px;
    flex-direction: column;
    background: var(--dark-violet);
    border-radius: 5px;
    transform: translateX(108%);
    transition: transform 0.3s ease-in-out;
  }

  .menu__open {
    transform: translateX(0%);
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
  }

  .menu__item {
    padding: 5% 0;
  }

  .menu__item a {
    color: #fff;
  }

  .button__menu {
    width: 34px;
    height: 34px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: block;
  }

  .navbar__login {
    flex-direction: column;
    text-align: center;
    border-top: 1px solid #463C5F;
  }

  .button__navbar__login {
    padding: 1rem 0;
  }

  .button__navbar__login a {
    color: #fff;
  }

  .button__navbar a {
    width: 100%;
    display: block;
    text-align: center;
  }

  .col__left {
    width: 100%;
    order: 2;
    text-align: center;
  }

  .col__right {
    width: 100%;
    order: 1;
    margin-bottom: 10%;
  }

  .left__title {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }

  .left__content {
    font-size: .9rem;
  }

  .section__home {
    padding-bottom: 10rem;
  }

  .statistics {
    padding: 0;
  }

  .section__name h3 {
    font-size: 2rem;
  }

  .section__name p {
    font-size: .9rem;
    width: 100%;
  }

  .section__services {
    flex-wrap: wrap;
    padding: 50% 0;
    justify-content: center;
  }

  .cardgroup {
    padding: 20px;
    text-align: center;
  }

  .cardgroup__image {
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .cardgroup__title {
    font-size: 1.2rem;
  }

  .cardgroup__content {
    font-size: 1rem;
  }

  .detailed {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .detailed::before {
    top: -30%;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
  }

  .detailed::after {
    bottom: -12%;
    left: 50%;
    top: inherit;
    transform: translateX(-50%) rotate(90deg);
  }

  .section__footer {
    padding: 20% 5%;
  }

  .section__footer h3 {
    font-size: 1.8rem;
  }

  .footer {
    padding: 3rem;
    text-align: center;
  }

  .footer__left {
    width: 100%;
    margin-bottom: 2rem;
  }

  .footer__center {
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }

  .footer__menu {
    width: 100%;
    margin-bottom: 2rem;
  }

  .footer__right {
    width: 100%;
  }

  .footer__social {
    justify-content: center;
  }

}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .navbar {
    padding: 4%;
  }

  .navbar__left {
    width: 100%;
    justify-content: space-between;
  }

  .navbar__right {
    position: absolute;
    z-index: 9;
    width: calc(100% - 8%);
    top: 64px;
    padding: 3rem 20px;
    flex-direction: column;
    background: var(--dark-violet);
    border-radius: 5px;
    transform: translateX(108%);
    transition: transform 0.3s ease-in-out;
  }

  .menu__open {
    transform: translateX(0%);
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
  }

  .navbar .menu__item {
    padding: 5% 0;
  }

  .navbar .menu__item a {
    color: #fff;
  }

  .button__menu {
    width: 34px;
    height: 34px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: block;
  }

  .navbar__login {
    flex-direction: column;
    text-align: center;
    border-top: 1px solid #463C5F;
  }

  .button__navbar__login {
    padding: 1rem 0;
  }

  .button__navbar__login a {
    color: #fff;
  }

  .button__navbar a {
    width: 100%;
    display: block;
    text-align: center;
  }

  .col__left {
    width: 100%;
    order: 2;
    text-align: center;
  }

  .col__right {
    width: 100%;
    order: 1;
    margin-bottom: 10%;
  }

  .left__title {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }

  .left__content {
    font-size: .9rem;
  }

  .section__home {
    padding-bottom: 10rem;
  }

  .statistics {
    padding: 10% 0;
  }

  .section__name h3 {
    font-size: 2rem;
  }

  .section__name p {
    font-size: .9rem;
    width: 100%;
  }

  .section__services {
    flex-wrap: wrap;
    padding: 30% 0;
    justify-content: center;
  }

  .cardgroup {
    padding: 20px;
    text-align: center;
  }

  .cardgroup__image {
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .cardgroup__title {
    font-size: 1.2rem;
  }

  .cardgroup__content {
    font-size: 1rem;
  }

  .detailed {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .detailed::before {
    top: -30%;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
  }

  .detailed::after {
    bottom: -12%;
    left: 50%;
    top: inherit;
    transform: translateX(-50%) rotate(90deg);
  }

  .section__footer {
    padding: 20% 5%;
  }

  .section__footer h3 {
    font-size: 1.8rem;
  }

  .footer {
    padding: 3rem;
    text-align: center;
  }

  .footer__left {
    width: 100%;
    margin-bottom: 2rem;
  }

  .footer__center {
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }

  .footer__menu {
    width: 100%;
    margin-bottom: 2rem;
  }

  .footer__right {
    width: 100%;
  }

  .footer__social {
    justify-content: center;
  }

}