.searchbox {
  width: 100%;
  padding: 80px 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-violet);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../public/assets/images/bg-shorten-desktop.svg);
  margin-top: -100px;
  position: relative;
}

.searchbox__input {
  width: 85%;
  margin-right: 2rem;
  position: relative;
}

.searchbox__input input {
  width: 100%;
  padding: 20px 10px;
  border-radius: 5px;
  border: 3px solid transparent;
}

input.error {
  border: 3px solid var(--color-red);
}

.searchbox__input input:focus-visible {
  outline: none;
}

.searchbox_button {
  padding: 23px 30px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 10px;
  background: var(--color-cyan);
  color: #fff;
  border: none;
  cursor: pointer;
  width: 15%;
}

.searchbox_button:hover {
  background-color: #9BE3E2;
}

.searchbox_button img {
  height: 25px;
  width: 25px;
}

.search__result__button {
  padding: 10px 30px;
  background: var(--color-cyan);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.search__result__button:hover {
  background-color: #9BE3E2;
}

.search__result__button.active {
  background: var(--dark-violet);
}

.search__input_message {
  position: absolute;
  left: 0;
  bottom: -2rem;
  color: var(--color-red);
  font-weight: 500;
  font-style: italic;
  font-size: 0.8rem;
}

.search__result {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.search__result_item {
  width: 100%;
  padding: 1rem;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search__result_item__pagelink {
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #232127;
}

.search__result_item__shortenlink {
  color: var(--color-cyan);
}

@media screen and (max-width: 375px) {
  .searchbox {
    flex-wrap: wrap;
    padding: 5%;
  }

  .searchbox__input {
    margin: 0;
    width: 100%;
    margin-bottom: 2.5rem;
  }

  .searchbox__input input {
    padding: 0.5rem;
  }

  .search__input_message {
    bottom: -1rem;
  }

  .searchbox_button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
  }

  .search__result_item {
    flex-wrap: wrap;
    padding: 0;
  }

  .search__result_item__pagelink {
    width: 100%;
    border-bottom: 1px solid #cccccc;
    padding: 0.7rem;
  }

  .search__result_item__shortenlink {
    width: 100%;
    padding: 0.8rem 1rem;
  }

  .search__result__button {
    width: 100%;
    margin: 0 1rem 1rem;
    text-align: center;
    font-weight: 500;
  }
}

@media screen and (max-width: 768px) {
  .searchbox {
    flex-wrap: wrap;
    padding: 5%;
  }

  .searchbox__input {
    margin: 0;
    width: 100%;
    margin-bottom: 2.5rem;
  }

  .searchbox__input input {
    padding: 0.5rem;
  }

  .search__input_message {
    bottom: -1rem;
  }

  .searchbox_button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
  }

  .search__result_item {
    flex-wrap: wrap;
    padding: 0;
  }

  .search__result_item__pagelink {
    width: 100%;
    border-bottom: 1px solid #cccccc;
    padding: 0.7rem;
  }

  .search__result_item__shortenlink {
    width: 100%;
    padding: 0.8rem 1rem;
  }

  .search__result__button {
    width: 100%;
    margin: 0 1rem 1rem;
    text-align: center;
    font-weight: 500;
  }
}